body {
    background-color: #d9fdeb;
        height: 100vh;
        margin: 0;
        font-family: Modern Sans; 
        line-height: 1.6;
        margin: 0;
        padding: 0;
}


 .container, .header{
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


.container {
    max-width: 5000px;
    text-align: center;
    margin:4%;
    padding: 80px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #004d4d;
}

h1 {
    border-bottom: 2px solid #004d4d;
    padding-bottom: 10px;
}

p {
    margin: 20px 0;
    font-size: 20px; 

}

.contact-info {
    list-style: none;
    padding: 0;
}

.contact-info li {
    margin: 10px 0;
}

.contact-info a {
    color:#004d4d;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}


.header {
    width: 100%;
    right: 2px;
    display: flex;
    margin-left: auto;
    background-color: #d9fdeb;
    font-size: 25px; 
    font-family: Modern Sans; 
    line-height: normal;
    position: fixed;
    z-index: 1000; /* Ensure it stays above other content */
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Optional: add a shadow for better visibility */
  }
  
  .header img {
    width: 75px;
    height: 40px;
    /* Remove position absolute to allow flexbox alignment */
  }
  .Image1{
    left: 1px;
    top: 20px;
    position: absolute;
  }
  
  .nav__links{
      display: inline-block;
      
      
  }
  .nav__links li {
  
      margin-left: 20px; /* Adjust as needed */
      display: inline-block;
      padding: 0px 20px;
      
  }
  
  .nav__links li a {
      transition: all 0.3s ease 0s;
      text-align: left;
      color: #004d4d; /* Add this line to set the link color to white */
      text-decoration: none;
  }
  
  .nav__links li a:hover{
      color: #765A6B;
  
  }

  .Vector7 {
    width: 10%; 
    height: 0; 
    left: 0; 
    top: 0; 
    position: absolute; 
    border: 2px #004d4d solid;
  }

  .Image7{
  width: 100%; 
  height: 40px;
  }


  /* Medium Screens (768px to 991px) */
  @media only screen and (min-width: 768px)  {
  
    .container {
      padding: 60px;
      max-width: 5000px;
      text-align: center;
      margin:1%;
      padding: 80px;
    }
    .header {
      display: flex;
      font-size: 25px; 
      font-family: Modern Sans; 
      align-items: center;
      justify-content: space-between;
    }
    .nav__links {
      
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .nav__links li {
    
      margin-left: 15px;
    }
    .contact-info {
      font-size: 18px;
    }
    h1 {
      font-size: 32px;
    }
    h2 {
      font-size: 24px;
    }
    p {
      font-size: 20px;
    }
    .Image1 {
      margin-right: 20px;
    }
    .Image7 {
      width: 75px;
      height: 40px;
    }
    .Vector7{
      width: 100%;
      position: absolute;
      top: 93px;

    }
  }
  
  
  
  
  
 /* Mobile Screens (max-width: 767px) */
@media only screen and (max-width: 767px) {
  /* Adjust styles for small screens here */    
   
  .container {
    position: absolute;
    padding: 20px;
    max-width: 100%;
    text-align: center;
    margin: 1%;
  }
  .header {
    display: flex;
    font-size: 9px; 
    font-family: Modern Sans; 
    align-items: center;
    justify-content: space-between;
  }

  .nav__links {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .nav__links li {
    margin-bottom: 10px;
  }
  .contact-info {
    font-size: 18px;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 18px;
  }
  .Image1 {
    top: 0px;
    left: 1px;
    position: absolute;
    width: 0;
    height: 0;

  }
  .Image7 {
    width: 75px;
    height: 40px;
 
  }
  .Vector7{
    left: 0;
    width: 800px;
      position: absolute;
      top: 40px;
  }
}
  
  
/* Mobile Screens (max-width: 320px) */
@media only screen and (max-width: 320px) {
  /* Adjust styles for small screens here */    
   
  .container {
    position: absolute;
    padding: 20px;
    max-width: 100%;
    text-align: center;
    margin: 1%;
  }
  .header {
    display: flex;
    font-size: 5px; 
    font-family: Modern Sans; 
    align-items: center;
    justify-content: space-between;
  }

  .nav__links {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .nav__links li {
    margin-bottom: 10px;
  }
  .contact-info {
    font-size: 18px;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 18px;
  }
  .Image1 {
    top: 0px;
    left: 1px;
    position: absolute;
    width: 0;
    height: 0;

  }
  .Image7 {
    width: 75px;
    height: 40px;
 
  }
  .Vector7{
    left: 0;
    width: 800px;
      position: absolute;
      top: 40px;
  }
}