body {
  background-color: #000000; /* Result of mixing Azure with darker grey */
        height: 100vh;
        margin: 0;
        font-family: Modern Sans; 
        line-height: 1.6;
        margin: 0;
        padding: 0;
}


 .container, .header{
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


.container {
    max-width: 83% ;
    text-align: center;
    margin:4%;
    padding: 80px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #000000;
}

h1 {
    border-bottom: 2px solid #000000;
    padding-bottom: 10px;
}

p {
    margin: 20px 0;
    font-size: 20px; 

}

.contact-info {
    list-style: none;
    padding: 0;
}

.contact-info li {
    margin: 10px 0;
}

.contact-info a {
    color:#000000;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}


.header {
    width: 100%;
    right: 2px;
    background-color: #000000;
    font-size: 25px; 
    font-family: Modern Sans; 
    line-height: normal;
    position: fixed;
    z-index: 1000; /* Ensure it stays above other content */
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Optional: add a shadow for better visibility */
  }
  
  .Image1{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  }
  .Image7{
  
    width: 369px; 
    height: 170.14px; 
    right: -1300px; 
    top: -73px; 
    position: absolute;
  }
  
  

.Vector7 {
  color: #fff;
  width: 100%; 
  height: 0; 
  left: 0; 
  position: absolute; 
  border: 2px #ffffff solid;
}



  
  .nav__links{
      display: inline-block;
      
      
  }
  .nav__links li {
  
      margin-left: 20px; /* Adjust as needed */
      display: inline-block;
      padding: 0px 20px;
      
  }
  
  .nav__links li a {
      transition: all 0.3s ease 0s;
      text-align: left;
      color:  white; /* Add this line to set the link color to white */
      text-decoration: none;
  }
  
  .nav__links li a:hover{
      color: #765A6B;
  
  }




