body {
    background: linear-gradient(180deg, #839A8D 31.01%, #8B6E80 100%);
    height: 100vh;
    margin: 0;
}

body {
    font-family: Modern Sans; 
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color:#839A8D;
}

.container {
    max-width: 800px;
    margin:1%;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

h1, h2 {
    color: #8B6E80;
}

h1 {
    border-bottom: 2px solid #839A8D;
    padding-bottom: 10px;
}

p {
    margin: 20px 0;
    font-size: 20px; 

}

.contact-info {
    list-style: none;
    padding: 0;
}

.contact-info li {
    margin: 10px 0;
}

.contact-info a {
    color:#839A8D;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}


.CTA {
    color: white; 
    font-size: 25px; 
    font-family: Modern Sans; 
    font-weight: 500;     
    justify-content: space-between;
    line-height: normal;
    margin-left: auto;
    display: flex;
    align-items: center;
    
}

.nav__links{
    display: inline-block;
    
    
}
.nav__links li {
    display: inline-block;
    padding: 0px 20px;
    
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    text-align: left;
    color: white; /* Add this line to set the link color to white */
    text-decoration: none;
}

.nav__links li a:hover{
    color:#8B6E80 ;

}


