
body {
  background-color: #d9fdeb;
  display: flex;
  flex-direction: column;
}

.Contact-Me, .contact-info, .Image7, .CTA, .Contact-Me, .ContactDes, .ContactText, .Vector7 {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


  .CTA {
    color: #004d4d;
    width: 500px;
    font-size: 25px; 
    font-family: Modern Sans; 
    font-weight: 500;     
    justify-content: flex-end;    
    line-height: normal;
    margin-left: auto;
    display: flex;
    align-items: center;
    letter-spacing: 2.97px;
    margin-top: 400px; /* Add this line to move it up more */
    padding: 50px; 
    text-decoration:none;
  
  }




.nav__links{
  display: inline-block;
}
.nav__links li {
  padding: 0px 20px;

}

.nav__links li a {
  transition: all 0.3s ease 0s;
  text-align: left;
  color: #004d4d;
  /* Add this line to set the link color to white */
  text-decoration: none;

}

.nav__links li a:hover{
color:#8B6E80;
}


.BackgroundBaseColor{
  width: 100%;
    overflow: hidden; /* Prevent overflow issues */
    height: 100%; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
}


  .Image1{
    width: 369px; 
    height: 170.14px; 
    padding: 2px; 
    left: 1500px;
     top: 40px; 
     position: absolute; 
  
     flex-direction: column; 
    justify-content: flex-start; 
  
    display: inline-flex;
  }


  .Image1:hover{
    animation: shake 0.5s ease-in-out; 
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); /* increase box shadow on hover */
    color: #004d4d;

  }

  @keyframes shake {
    0% {
      transform: translateX(0) translateY(0);
      opacity: 1; 
    }
    20% {
      transform: translateX(-10px) translateY(0);
      opacity: 1; 
    }
    40% {
      transform: translateX(10px) translateY(0);
      opacity: 1; 
    }
    60% {
      transform: translateX(0) translateY(-10px);
      opacity: 1; 
    }
    80% {
      transform: translateX(0) translateY(10px);
      opacity: 1; 
    }
    100% {
      transform: translateX(0) translateY(0);
      opacity: 1; 
    }
  }


  .Image7 {
    width: 369px; 
    height: 170.14px; 
    left: 1px; 
    top: 2px;
     position: absolute;
  }


.ContactDes{
  left: 99px; 
  top: 250px; 
  position: absolute; 
  color: #004d4d; 
  font-size: 80px; 
  font-family: Modern Sans; 
  font-weight: 500; 
  word-wrap: break-word;
}
.ContactText{
  width: 1200px; 
  height: 252px; 
  left: 30px; 
  top: 350px; 
  position: absolute; 
  text-align: justify; 
  color: #004d4d; 
  font-size: 20px; 
  font-family: Modern Sans; 
  font-weight: 500; 
  word-wrap: break-word;
}


.contact-info{
    width: 820px;
    position: absolute;
    left: 100px;
    top: 480px;
    color: #004d4d; 
    font-size: 30px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
}
.contact-info a {

   color:#21fafa; /* LinkedIn Blue */
   text-decoration: none;
}
.contact-info a:hover {
    text-decoration: underline;
    
}

.Vector7{
  width: 1070px; 
  height: 0px; 
  left: 20px; 
  top: 405px; 
  position: absolute; 
  border: 2px #004d4d solid;
  }




  /* Mobile screens (max-width: 767px) */
@media only screen and (max-width: 767px) {
  /* Adjust styles for small screens here */
  .CTA {
    top: 230px;
    right: -55px;
    position: absolute;
    font-size: 20px;
    font-family: Modern Sans;
    font-weight: 500;
    letter-spacing: 2.97px;
    word-wrap: break-word;
  }
  .Image1 {
    width: 114px;
    height: 60px;
    left: 20px;
    top: 30px;
    position: absolute;
  
  }

  .Image7{
    width: 113px;
    height: 58px;
    left: 4px;
    top: 3px;
    position: absolute;

  }

  .ContactDes {
    left: 20px;
    top: 200px;
    font-size: 30px; /* Increase font size for larger screens */
    position: absolute;
    font-family: modern Sans;
    font-weight: 500;
    word-wrap: break-word;
  }
  .ContactText {
    width: 250px; 
  left: 20px; 
  top: 250px; 
  position: absolute; 

  font-size: 15px; 
  font-family: Modern Sans; 
  font-weight: 500; 
  word-wrap: break-word;

  }
  .contact-info {
   position: absolute;
    width: 100%;
    font-size: 18px;
    top: 450px;
    left: 10px;
  }
  .Vector7{
    width: 59%;
    height: 0px;
    left: 20px;
    top: 320px;
    position: absolute;
  }
}


/* Tablet screens (min-width: 768px and max-width: 1199px) */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  /* Adjust styles for medium screens here */
  .CTA {
    font-size: 25px; /* Decrease font size for medium screens */
  }
  .ContactDes {
    font-size: 80px; /* Decrease font size for medium screens */
  }
  .ContactText {
    font-size: 20px; /* Decrease font size for medium screens */
  }
  .contact-info {
    font-size: 30px; /* Decrease font size for medium screens */
  }
}

@media only screen and (min-width: 768px) and (max-width: 1618px) {
  html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    background-color: #d9fdeb;
    display: flex;
    flex-direction: column;
  }
  .CTA {
    top: 230px;
    right: -55px;
    position: absolute;
    font-size: 20px;
    font-family: Modern Sans;
    font-weight: 500;
    letter-spacing: 2.97px;
    word-wrap: break-word;
  }
  .Image1 {
    width: 114px;
    height: 60px;
    left: 20px;
    top: 30px;
    position: absolute;
  
  }

  .Image7{
    width: 113px;
    height: 58px;
    left: 4px;
    top: 3px;
    position: absolute;

  }

  .ContactDes {
    left: 20px;
    top: 200px;
    font-size: 30px; /* Increase font size for larger screens */
    position: absolute;
    font-family: modern Sans;
    font-weight: 500;
    word-wrap: break-word;
  }
  .ContactText {
    width: 250px; 
  left: 20px; 
  top: 250px; 
  position: absolute; 

  font-size: 15px; 
  font-family: Modern Sans; 
  font-weight: 500; 
  word-wrap: break-word;

  }
  .contact-info {
   position: absolute;
    width: 100%;
    font-size: 18px;
    top: 450px;
    left: 10px;
  }
  .Vector7{
    width: 59%;
    height: 0px;
    left: 20px;
    top: 320px;
    position: absolute;
  }
}

@media only screen and (max-width: 320px) {
  .CTA {
    top: 230px;
    right: -55px;
    position: absolute;
    font-size: 20px;
    font-family: Modern Sans;
    font-weight: 500;
    letter-spacing: 2.97px;
    word-wrap: break-word;
  }
  .Image1 {
    width: 114px;
    height: 60px;
    left: 20px;
    top: 30px;
    position: absolute;
  
  }

  .Image7{
    width: 113px;
    height: 58px;
    left: 4px;
    top: 3px;
    position: absolute;

  }

  .ContactDes {
    left: 20px;
    top: 200px;
    font-size: 30px; /* Increase font size for larger screens */
    position: absolute;
    font-family: modern Sans;
    font-weight: 500;
    word-wrap: break-word;
  }
  .ContactText {
    width: 250px; 
  left: 20px; 
  top: 250px; 
  position: absolute; 

  font-size: 15px; 
  font-family: Modern Sans; 
  font-weight: 500; 
  word-wrap: break-word;

  }
  .contact-info {
   position: absolute;
    width: 100%;
    font-size: 18px;
    top: 450px;
    left: 10px;
  }
  .Vector7{
    width: 59%;
    height: 0px;
    left: 20px;
    top: 320px;
    position: absolute;
  }
}