
body {
  background-color: #000000; /* Result of mixing Azure with darker grey */
  display: flex;
  flex-direction: column;
}

.Contact-Me, .contact-info, .Image7, .CTA, .Contact-Me, .ContactDes, .ContactText, .Vector7 {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


  .CTA {
    width: 30%;;
    font-size: 25px; 
    font-family: Modern Sans; 
    font-weight: 500;     
    align-items: center;
    letter-spacing: 5px;
    margin-top: 400px; /* Add this line to move it up more */
    padding: 50px; 
    right: -10%;
    position: absolute;
  
  }




.nav__links{
  display: inline-block;
}
.nav__links li {
  padding: 0px 20px;

}

.nav__links li a {
  transition: all 0.3s ease 0s;
  text-align: left;
  color: #ffffff;
  /* Add this line to set the link color to white */
  text-decoration: none;

}

.nav__links li a:hover{
  color: #aebbb3;
}



.Image1{
  width: 369px; 
  height: 170.14px; 
  padding: 2px; 
  left: 1500px;
  top: 40px; 
  position: absolute; 
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);

}


  .Image1:hover{
    animation: shake 0.5s ease-in-out; 
    box-shadow: 4px 4px 4px rgb(196, 62, 62); /* increase box shadow on hover */
    color: #ffffff;

  }
  .Image7 {

    width: 369px; 
    height: 170.14px; 
    left: 1px; 
    top: 2px;
     position: absolute;

}


  @keyframes shake {
    0% {
      transform: translateX(0) translateY(0);
      opacity: 1; 
    }
    20% {
      transform: translateX(-10px) translateY(0);
      opacity: 1; 
    }
    40% {
      transform: translateX(10px) translateY(0);
      opacity: 1; 
    }
    60% {
      transform: translateX(0) translateY(-10px);
      opacity: 1; 
    }
    80% {
      transform: translateX(0) translateY(10px);
      opacity: 1; 
    }
    100% {
      transform: translateX(0) translateY(0);
      opacity: 1; 
    }
  }





.ContactDes{

  left: 99px; 
  top: 250px; 
  position: absolute; 
  color: #ffffff; 
  font-size: 80px; 
  font-family: Modern Sans; 
  font-weight: 500; 
  word-wrap: break-word;
}
.ContactText{
  width: 1200px; 
  height: 252px; 
  left: 30px; 
  top: 350px; 
  position: absolute; 
  text-align: justify; 
  color: #ffffff; 
  font-size: 20px; 
  font-family: Modern Sans; 
  font-weight: 500; 
  word-wrap: break-word;
}


.contact-info{
    width: 820px;
    position: absolute;
    left: 100px;
    top: 480px;
    color: #ffffff; 
    font-size: 30px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
}
.contact-info a {

   color:#00bcf5; /* LinkedIn Blue */
   text-decoration: none;
}
.contact-info a:hover {
    text-decoration: underline;
    
}

.Vector7{
  width: 1070px; 
  height: 0px; 
  left: 20px; 
  top: 405px; 
  position: absolute; 
  border: 2px #ffffff solid;
  }

