html, body {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(to bottom, #839A8D 31.01%, #8B6E80 100%); /* Adjust gradient colors as needed */
  display: flex;
  flex-direction: column;
}

.Contact-Me, .contact-info, .Image7, .CTA, .Contact-Me, .ContactDes, .ContactText, .Vector7 {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


  .CTA {
    color: white; 
    font-size: 25px; 
    font-family: Modern Sans; 
    font-weight: 500;     
    justify-content: flex-end;    
    line-height: normal;
    margin-left: auto;
    display: flex;
    align-items: center;
    letter-spacing: 2.97px;
    margin-top: 400px; /* Add this line to move it up more */
    padding: 50px; 
    text-decoration: none!important;
  }




.nav__links{
  display: inline-block;
}
.nav__links li {
  padding: 0px 20px;

}

.nav__links li a {
  transition: all 0.3s ease 0s;
  text-align: left;
  color: white; /* Add this line to set the link color to white */
  text-decoration: none;

}

.nav__links li a:hover{
color:#8B6E80;
}


.BackgroundBaseColor{
  width: 100%;
    overflow: hidden; /* Prevent overflow issues */
    height: 100%; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
}


  .Image1{
    width: 369px; 
    height: 170.14px; 
    padding: 2px; 
    left: 1500px;
     top: 40px; 
     position: absolute; 
     background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(102, 102, 102, 0.25) 100%); 
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
     flex-direction: column; 
    justify-content: flex-start; 
  
    display: inline-flex;
  }


  .Image1:hover{
    animation: shake 0.5s ease-in-out; 
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25); /* increase box shadow on hover */
    opacity: 1; /*  keep the element visible */

  }

  @keyframes shake {
    0% {
      transform: translateX(0) translateY(0);
      opacity: 1; 
    }
    20% {
      transform: translateX(-10px) translateY(0);
      opacity: 1; 
    }
    40% {
      transform: translateX(10px) translateY(0);
      opacity: 1; 
    }
    60% {
      transform: translateX(0) translateY(-10px);
      opacity: 1; 
    }
    80% {
      transform: translateX(0) translateY(10px);
      opacity: 1; 
    }
    100% {
      transform: translateX(0) translateY(0);
      opacity: 1; 
    }
  }
  .Image7 {
    width: 369px; 
    height: 170.14px; 
    left: 1px; 
    top: 2px;
     position: absolute;
  }

  


.ContactDes{
  left: 99px; 
  top: 250px; 
  position: absolute; 
  color: white; 
  font-size: 80px; 
  font-family: Modern Sans; 
  font-weight: 500; 
  word-wrap: break-word;
}
.ContactText{
  width: 1200px; 
  height: 252px; 
  left: 30px; 
  top: 350px; 
  position: absolute; 
  text-align: justify; 
  color: white; 
  font-size: 20px; 
  font-family: Modern Sans; 
  font-weight: 500; 
  word-wrap: break-word;
}


.contact-info{
    width: 820px;
    position: absolute;
    left: 100px;
    top: 480px;
    color: white; 
    font-size: 30px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
}
.contact-info a {

   color:#814269; /* LinkedIn Blue */
   text-decoration: none;
}
.contact-info a:hover {
    text-decoration: underline;
    
}

.Vector7{
  width: 1070px; 
  height: 0px; 
  left: 20px; 
  top: 405px; 
  position: absolute; 
  border: 2px white solid;
  }

/* iPhone 12-15 Pro Max queries */
@media only screen and (max-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) {
  /* styles for iPhone 12-15 Pro Max devices go here */
 
  .CTA {
    width: 100px; /* adjust width for smaller screen */
    position: absolute;
    font-size: 20px; /* adjust font size for smaller screen */
    top: 750px;
    right: -55px;
  }

  .Image1 {
    width: 124px;
    height: 67px;
    left: 280px;
    top: 32px;
    position: absolute;
  
  }
  .Image7{
    width: 123px;
    height: 63px;
    left: 4px;
    top: 3px;
    position: absolute;

  }

  .Contact-Me {
    width: 220px;
    font-size: 10px; 
    top: -100px;
   
  }

  .contact-info {
    width: 100%; /* adjust width for smaller screen */
    font-size: 20px; /* adjust font size for smaller screen */
    margin-left: 20px; /* adjust margin left for smaller screen */
    margin-top: -10px; /* adjust margin top for smaller screen */
  }

  .Vector7{
    width: 100%; 
    height: 0px; 
    left: 20px; 
    top: 290px; 
    position: absolute; 
    border: 2px white solid;
  }

  .ThanksFor{
    position: absolute; 
    top: 200px;
    width: 100%; /* adjust width for smaller screen */
  }
}

/* iPhone 12-13-14-15 Pro queries */
@media only screen and (max-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  /* styles for iPhone 12-13-14-15 Pro devices go here */
  .BackgroundBaseColor {
    width: 390px;
    height: 844px;
    position: relative;
  }
  .CTA {
    width: 280px; /* adjust width for smaller screen */
    position: absolute;
    font-size: 20px; /* adjust font size for smaller screen */
    top: 700px;
    right: -50px;
  }

  .Image1 {
    width: 114px;
    height: 60px;
    left: 260px;
    top: 30px;
    position: absolute;
  
    
  }
  .Image7{
    width: 113px;
    height: 58px;
    left: 4px;
    top: 3px;
    position: absolute;

  }

  .Contact-Me {
    width: 340px;
    font-size: 20px; 
    margin-left: 20px; 
    margin-top: 140px; 
  }

  .contact-info {
    width: 630px; /* adjust width for smaller screen */
    font-size: 20px; /* adjust font size for smaller screen */
    margin-left: 20px; /* adjust margin left for smaller screen */
    margin-top: -10px; /* adjust margin top for smaller screen */
  }

  .Vector7{
    width: 360px; 
    height: 0px; 
    left: 20px; 
    top: 290px; 
    position: absolute; 
    border: 2px white solid;
    }

  .ThanksFor{
    position: absolute; 
    top: 190px;
    width: 330px; /* adjust width for smaller screen */
  }
}