
.CTA {
    color: white; 
    font-size: 25px; 
    font-family: Modern Sans; 
    font-weight: 500;     
    justify-content: flex-end;    
    line-height: normal;
    margin-left: auto;
    display: flex;
    align-items: center;
    letter-spacing: 2.97px;
    margin-top: 400px; /* Add this line to move it up more */
    padding: 50px; 
    text-decoration: none!important;
    
}

.nav__links{
    display: inline-block;
}
.nav__links li {
    padding: 0px 20px;

}

.nav__links li a {
    transition: all 0.3s ease 0s;
    text-align: left;
    color: white; /* Add this line to set the link color to white */
    text-decoration: none;

}

.nav__links li a:hover{
color:#8B6E80;
}
.BackgrountBaseColor{
     width: 1920px;
      height: 1080px; 
      left: 0px; 
      top: 0px; 
      position: absolute; 
     background: linear-gradient(180deg, #839A8D 31%, #8B6E80 100%);
}

.BradleyAcostaRojas{
     left: 99px; 
     top: 352px; 
     position: absolute; 
     color: white; 
     font-size: 80px; 
     font-family: Modern Sans; 
     font-weight: 500; 
     word-wrap: break-word;
}

.WebDeveloper{
    left: 891px; 
    top: 435px; 
    position: absolute; 
    color: white; 
    font-size: 30px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
}

.BradleyHi{
    width: 393px; 
    height: 252px; 
    left: 185px; 
    top: 551px; 
    position: absolute; 
    text-align: justify; 
    color: white; 
    font-size: 27px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
}


