html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #d9fdeb; /* Result of mixing Azure with darker grey */
  display: flex;
  flex-direction: column;
}

  
  .BradleyAcostaRojas, .WebDeveloper, .BradleyHi, .CTA, .Image7 {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .CTA {
    color: #004d4d;
    font-size: 25px; 
    font-family: Modern Sans; 
    font-weight: 500;     
    justify-content: flex-end;    
    line-height: normal;
    margin-left: auto;
    display: flex;
    align-items: center;
    letter-spacing: 2.97px;
    margin-top: 400px; /* Add this line to move it up more */
    padding: 50px; 
    text-decoration: none!important;
  }
  
  .nav__links{
    display: inline-block;
  }
  .nav__links li {
    padding: 0px 20px;
  
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
    text-align: left;
    color: #004d4d;
    text-decoration: none;
  
  }
  
  .nav__links li a:hover{
    color:#8B6E80;
  }
  
  .BackgroundBaseColor{
    width: 100%;
    overflow: hidden; /* Prevent overflow issues */
    height: 100%; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
  }
  
  .Image1{
    width: 369px; 
    height: 170.14px; 
    padding: 2px; 
    left: 1500px;
     top: 40px; 
     position: absolute; 
     flex-direction: column; 
    display: inline-flex;
  }
  .Image1:hover {
    animation: shake 0.5s ease-in-out;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25); /* increase box shadow on hover */
    color: #004d4d;
  }
  @keyframes shake {
    0% {
      transform: translateX(0) translateY(0);
    }
    20% {
      transform: translateX(-10px) translateY(0);
    }
    40% {
      transform: translateX(10px) translateY(0);
    }
    60% {
      transform: translateX(0) translateY(-10px);
    }
    80% {
      transform: translateX(0) translateY(10px);
    }
    100% {
      transform: translateX(0) translateY(0);
    }
  }

  .Image7{
    width: 369px; 
    height: 170.14px; 
    left: 1px; 
    top: 2px; 
    position: absolute;
  }

  .BradleyAcostaRojas{
    left: 99px; 
    top: 250px; 
    position: absolute; 
    color: #004d4d;
    font-size: 80px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
  }
  
  .WebDeveloper{
    left: 891px; 
    top: 435px; 
    position: absolute; 
    color: #004d4d;
    font-size: 30px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
  }
  
  .BradleyHi{
    width: 393px; 
    height: 252px; 
    left: 185px; 
    top: 510px; 
    position: absolute; 
    text-align: justify; 
    color: #004d4d;
    font-size: 27px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
  }

  .Vector2{
    width: 0px; 
    height: 400px; 
    left: 1280px; 
    top: 468px; 
    position: absolute; 
    transform: rotate(90deg); 
    transform-origin: 0 0; 
    border: 1px solid #004d4d;

  }
  .Vector3{
  width: 0px; 
  height: 260px; 
  left: 171px; 
  top:780px; 
  position: absolute; 
  transform: rotate(-180deg); 
  transform-origin: 0 0; 
  border: 2px  solid #004d4d ;
  
  }


/* Tablet styles------------------------------------------------------------------------ */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .BradleyAcostaRojas {
    font-size: 60px;
    left: 50px;
    width: 800px;
    top: 200px;
  }
  .WebDeveloper {
    font-size: 25px;
    width: 300px;
    left: 600px;
    top: 350px;
  }
  .BradleyHi {
    width: 500px;
    height: 200px;
    left: 100px;
    top: 700px;
    font-size: 22px;
  }
  .CTA {
    margin-top: 550px;
  }
  .Vector2 {
    width: 0px; 
    height: 200px; 
    left: 810px; 
    top: 385px; 
    position: absolute; 
    transform: rotate(90deg); 
    transform-origin: 0 0; 
    border: 1px white solid;
  }
  .Vector3 {
    width: 0px; 
    height: 180px; 
    left: 90px; 
    top: 870px; 
    position: absolute; 
    transform: rotate(-180deg); 
    transform-origin: 0 0; 
    border: 2px white solid;
  }
}

/* IPhone 12 Pro max queries-------------------------------------------------------------------------------*/
@media only screen and (max-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
  .BackgroundBaseColor {
    width: 428px;
    height: 926px;
    position: relative;
  }

  .BradleyHi {
    width: 182px;
    height: 208px;
    left: 26px;
    top: 422px;
    position: absolute;
    text-align: justify;
    font-size: 16px;
    font-family: Modern Sans;
    font-weight: 500;
    word-wrap: break-word;
  }

  .BradleyAcostaRojas {
    width: 427px;
    left: 26px;
    top: 195px;
    position: absolute;
    font-size: 24px;
    font-family: Modern Sans;
    font-weight: 500;
    word-wrap: break-word;
  }

  .Image1 {
    width: 124px;
    height: 67px;
    left: 280px;
    top: 32px;
    position: absolute;
  
  }

  .Image7{
    width: 123px;
    height: 63px;
    left: 4px;
    top: 5px;
    position: absolute;

  }


  .WebDeveloper {
    left: 172px;
    top: 282px;
    position: absolute;
    font-size: 24px;
    font-family: Modern Sans;
    font-weight: 500;
    word-wrap: break-word;
  }

  .Vector2 {
    width: 0px;
    height: 200px;
    left: 335px;
    top: 350px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 0;
    border: 1px  solid;
  }

  .CTA {
    top: 250px;
    right: -55px;
    position: absolute;
    font-size: 27px;
    font-family: Modern Sans;
    font-weight: 500;
    letter-spacing: 2.97px;
    word-wrap: break-word;
  }
  

  .Vector3 {
    width: 0px;
    height: 214px;
    left: 18px;
    top: 630px;
    position: absolute;
    transform: rotate(-180deg);
    transform-origin: 0 0;
  }
}


/* IPhone 14-15 Pro max queries---------------------------------------------------------------------------*/
@media only screen and (max-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) {
  .BackgroundBaseColor {
    width: 430px;
    height: 932px;
    position: relative;
  }

  .BradleyHi {
    width: 182px;
    height: 208px;
    left: 26px;
    top: 422px;
    position: absolute;
    text-align: justify;
    font-size: 16px;
    font-family: Modern Sans;
    font-weight: 500;
    word-wrap: break-word;
  }

  .BradleyAcostaRojas {
    width: 427px;
    left: 26px;
    top: 195px;
    position: absolute;
    font-size: 24px;
    font-family: Modern Sans;
    font-weight: 500;
    word-wrap: break-word;
  }

  .Image1 {
    width: 124px;
    height: 67px;
    left: 280px;
    top: 32px;
    position: absolute;
  
  }

  .Image7{
    width: 123px;
    height: 63px;
    left: 4px;
    top: 5px;
    position: absolute;

  }


  .WebDeveloper {
    left: 172px;
    top: 282px;
    position: absolute;
    font-size: 24px;
    font-family: Modern Sans;
    font-weight: 500;
    word-wrap: break-word;
  }

  .Vector2 {
    width: 0px;
    height: 200px;
    left: 372px;
    top: 335px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 0;
    border: 1px  solid;
  }

  .CTA {
    top: 250px;
    right: -55px;
    position: absolute;
  
    font-size: 27px;
    font-family: Modern Sans;
    font-weight: 500;
    letter-spacing: 2.97px;
    word-wrap: break-word;
  }
  

  .Vector3 {
    width: 0px;
    height: 214px;
    left: 18px;
    top: 630px;
    position: absolute;
    transform: rotate(-180deg);
    transform-origin: 0 0;
    border: 1px solid;
  }
}
/*iPhone pro 12-15----------------------------------------------------------------------------------------*/
@media only screen and (max-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  .BackgroundBaseColor {
    width: 390px;
    height: 844px;
    position: relative;
  }

  .BradleyHi {
    width: 182px;
    height: 208px;
    left: 26px;
    top: 422px;
    position: absolute;
    text-align: justify;
    font-size: 16px;
    font-family: Modern Sans;
    font-weight: 500;
    word-wrap: break-word;
  }

  .BradleyAcostaRojas {
    width: 300px;
    left: 26px;
    top: 195px;
    position: absolute;
    font-size: 24px;
    font-family: Modern Sans;
    font-weight: 500;
    word-wrap: break-word;
  }

  .Image1 {
    width: 114px;
    height: 60px;
    left: 260px;
    top: 30px;
    position: absolute;
  
  }

  .Image7{
    width: 113px;
    height: 58px;
    left: 4px;
    top: 3px;
    position: absolute;

  }


  .WebDeveloper {
    left: 172px;
    top: 282px;
    position: absolute;
    font-size: 24px;
    font-family: Modern Sans;
    font-weight: 500;
    word-wrap: break-word;
  }

  .Vector2 {
    width: 0px;
    height: 200px;
    left: 372px;
    top: 335px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 0;
    border: 1px  solid;
  }

  .CTA {
    top: 230px;
    right: -55px;
    position: absolute;
    font-size: 20px;
    font-family: Modern Sans;
    font-weight: 500;
    letter-spacing: 2.97px;
    word-wrap: break-word;
  }
  

  .Vector3 {
    width: 0px;
    height: 214px;
    left: 18px;
    top: 630px;
    position: absolute;
    transform: rotate(-180deg);
    transform-origin: 0 0;
    border: 1px solid;
  }
}


  /* Mobile screens (max-width: 767px) */
  @media only screen and (max-width: 767px) {
    /* Adjust styles for small screens here */
    .CTA {
      top: 230px;
      right: -55px;
      position: absolute;
      font-size: 20px;
      font-family: Modern Sans;
      font-weight: 500;
      letter-spacing: 2.97px;
      word-wrap: break-word;
    }

  .BradleyHi {
    width: 182px;
    height: 208px;
    left: 26px;
    top: 422px;
    position: absolute;
    text-align: justify;
    font-size: 16px;
    font-family: Modern Sans;
    font-weight: 500;
    word-wrap: break-word;
  }

  .BradleyAcostaRojas {
    width: 300px;
    left: 26px;
    top: 195px;
    position: absolute;
    font-size: 24px;
    font-family: Modern Sans;
    font-weight: 500;
    word-wrap: break-word;
  }

  .Image1 {
    width: 114px;
    height: 60px;
    left: 20px;
    top: 30px;
    position: absolute;
  }

  .Image7 {
    width: 113px;
    height: 58px;
    left: 4px;
    top: 3px;
    position: absolute;
  }

  .WebDeveloper {
    left: 172px;
    top: 282px;
    position: absolute;
    font-size: 24px;
    font-family: Modern Sans;
    font-weight: 500;
    word-wrap: break-word;
  }

  .Vector2 {
    width: 0px;
    height: 200px;
    left: 372px;
    top: 335px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 0;
    border: 1px solid;
  }

  .CTA {
    top: 230px;
    right: -55px;
    position: absolute;
    font-size: 20px;
    font-family: Modern Sans;
    font-weight: 500;
    letter-spacing: 2.97px;
    word-wrap: break-word;
  }

  .Vector3 {
    width: 0px;
    height: 214px;
    left: 18px;
    top: 630px;
    position: absolute;
    transform: rotate(-180deg);
    transform-origin: 0 0;
    border: 1px solid;
  }
}

