body {
    background: linear-gradient(180deg, #765A6B 0%, #DCA8C7 100%);
    margin: 0;
}


 .header, .Proyecto2{
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}





.header {
    width: 100%;
    right: 2px;
    display: flex;
    margin-left: auto;
    background: linear-gradient(180deg, #765A6B 0%, #DCA8C7 100%);
    color: white; 
    font-size: 25px; 
    font-family: Modern Sans; 
    line-height: normal;
    position: fixed;
    z-index: 1000; /* Ensure it stays above other content */
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Optional: add a shadow for better visibility */
  }
  
  .header img {
    width: 75px;
    height: 40px;
    /* Remove position absolute to allow flexbox alignment */
  }
  
  
  .nav__links{
      display: inline-block;
      
      
  }
  .nav__links li {
  
      margin-left: 20px; /* Adjust as needed */
      display: inline-block;
      padding: 0px 20px;
      
  }
  
  .nav__links li a {
      transition: all 0.3s ease 0s;
      text-align: left;
      color: white; /* Add this line to set the link color to white */
      text-decoration: none;
  }
  
  .nav__links li a:hover{
      color: #765A6B;
  
  }


.Proyecto2{
    width:110%;
     height: 11000px;
     position: relative; 
     background: linear-gradient(180deg, #5A6A61 0%, #9BB8A8 100%);

}

.ProjectObjectives{
     width: 786px; 
     height: 304px; 
     left: 30px; 
     top: 561px; 
     position: absolute;
     color: white; 
     font-family: Modern Sans; 
     font-weight: 500;
     word-wrap: break-word;
     color: white; 
     
     font-size: 27px; 
}
.project{
     font-size: 40px; 
}
.AimtoAssist{
     color: #FFF;
     font-family: "Modern Sans";
     font-size: 22px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
}
.IntendedAudience{
     width: 873px;
     height: 714px; 
     left:  1000px; 
     top: 565px;
     position: absolute;
}
.IntenDes{
    color: white; 
    font-size:  40px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
}
.IntenText{
    color: white; 
    font-size: 27px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
}
.Features{
     width: 621px; 
     height: 461px; 
     left: 746px; 
     top: 1026px; 
     position: absolute; 
}

.FeaturesDes{
     color: white; 
     font-size: 40px; 
     font-family: Modern Sans; 
     font-weight: 500; 
     word-wrap: break-word;
}
.FeaturesText{
     color: white; 
     font-size: 27px; 
     font-family: Modern Sans;
     font-weight: 500; 
     word-wrap: break-word;
}

.UserInterfaces{
     width: 873px; 
     height: 744px; 
     left: 900px; 
     top: 1814px; 
     position: absolute; 
     text-align: right;
}

.UserInterfacesDes{
     color: white; 
     font-size: 36px; 
     font-family: Modern Sans; 
     font-weight: 500; 
     word-wrap: break-word"
}

.UserInterfacesText{
    color: white; 
    font-size: 27px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
}

.PolytechnicUniversity{
   width: 873px; 
   left: 1150px; 
   top: 182px; 
   position: absolute; 
   color: white; 
   font-size: 40px; 
   font-family: Modern Sans; 
   font-weight: 500; 
   word-wrap: break-word 
}

.StudentSystem{
    width: 843px; 
    height: 156px; 
    left: 101px; 
    top: 160px; 
    position: absolute; 
    color: white; 
    font-size: 80px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
}

.WorkedWithLucidchart{
    width:555px; 
    height: 47px; 
    left: 793px; 
    top: 2699px; 
    position: absolute; 
    text-align: center; 
    color: white; 
    font-size: 30px; 
    font-family: Type Machine; 
    font-weight: 400; 
    word-wrap: break-word;
}

.InThisClassDiagrams{
    width: 941px; 
    height: 598px; 
    left: 900px; 
    top: 3833px; 
    position: absolute; 
    color: white; 
    font-size: 25px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
}

.Implementation{
    width: 600px; 
    height: 473px; 
    left: 1089px; 
    top: 4597px; 
    position: absolute; 
    color: white; 
    font-size: 30px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
}

.Authentication{
width: 400px; 
height: 327px; 
left: 256px; 
top: 5453px; 
position: absolute; 
color: white; 
font-size: 30px; 
font-family: Modern Sans; 
font-weight: 500; 
word-wrap: break-word;
}

.OnCodeupdate{
    width: 700px; 
    height: 264px; 
    left: 942px; 
    top: 5946px; 
    position: absolute; 
    color: white; 
    font-size: 30px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
}

.WorkedWithSQL{
width: 325px; 
height: 61px; 
left: 129px; 
top: 6543px; 
position: absolute; 
color: white; 
font-size: 35px; 
font-family: Modern Sans; 
font-weight: 500; 
word-wrap: break-word;
}

.IAddedADatabase{
    width: 500px; 
    height: 188px; 
    left: 20px; 
    top: 6669px; 
    position: absolute; 
    color: white; 
    font-size: 30px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
}

.InTotal{
    width: 418px; 
    height: 291px; 
    left: 1204px; 
    top: 7338px; 
    position: absolute; 
    color: white; 
    font-size: 30px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
}

.Results{
    width: 441px; 
    height: 80px; 
    left: 850px; 
    top: 8066px; 
    position: absolute; 
    text-align: center;
    color: white; 
    font-size: 35px; 
    font-family: Type Machine; 
    font-weight: 400; 
    word-wrap: break-word; 
}