body {
  background-color: #d9fdeb; /* Result of mixing Azure with darker grey */
  padding: 0;
    margin: 0;
}


 .header, .Proyecto2{
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.header {
    width: 100%;
    right: 2px;
    display: flex;
    margin-left: auto;
    background-color: #004d4d;
    font-size: 25px; 
    font-family: Modern Sans; 
    line-height: normal;
    position: fixed;
    z-index: 1000; /* Ensure it stays above other content */
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Optional: add a shadow for better visibility */
  }
  
  .header img {
    width: 50px;
    right: 10px;
    top: -10px;
    height: 90px;
    position: absolute;
    /* Remove position absolute to allow flexbox alignment */
  }
  
  
  .nav__links{
      display: inline-block;
      
      
  }
  .nav__links li {
  
      margin-left: 20px; /* Adjust as needed */
      display: inline-block;
      padding: 0px 20px;
      
  }
  
  .nav__links li a {
      transition: all 0.3s ease 0s;
      text-align: left;
      color:  #d9fdeb; /* Add this line to set the link color to white */
      text-decoration: none;
  }
  
  .nav__links li a:hover{
      color: #765A6B;
  
  }


.Proyecto2{
  width: 1920px;
  height: 5200px;
     position: relative; 

}

.ProjectObjectives{
     width: 786px; 
     height: 304px; 
     left: 30px; 
     top: 561px; 
     position: absolute;
     color: #004d4d;
     font-family: Modern Sans; 
     font-weight: 500;
     word-wrap: break-word;
     font-size: 27px; 
}
.project{
     font-size: 40px; 
}
.AimtoAssist{
  color: #004d4d;
     font-family: "Modern Sans";
     font-size: 22px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
}
.IntendedAudience{
  color: #004d4d;
     width: 873px;
     height: 714px; 
     left:  1000px; 
     top: 565px;
     position: absolute;
}
.IntenDes{
  color: #004d4d;

    font-size:  40px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
}
.IntenText{
  color: #004d4d;

    font-size: 27px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
}
.Features{
     width: 621px; 
     height: 461px; 
     left: 746px; 
     top: 1026px; 
     position: absolute; 
}

.FeaturesDes{
     color: #004d4d;
     font-size: 40px; 
     font-family: Modern Sans; 
     font-weight: 500; 
     word-wrap: break-word;
}
.FeaturesText{
     color: #004d4d;
     font-size: 27px; 
     font-family: Modern Sans;
     font-weight: 500; 
     word-wrap: break-word;
}

.UserInterfaces{
     width: 873px; 
     height: 744px; 
     left: 900px; 
     top: 1814px; 
     position: absolute; 
     text-align: right;
}

.UserInterfacesDes{
     color: #004d4d; 
     font-size: 36px; 
     font-family: Modern Sans; 
     font-weight: 500; 
     word-wrap: break-word"
}

.UserInterfacesText{
    color: #004d4d;
    font-size: 27px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
}

.PolytechnicUniversity{
   width: 873px; 
   left: 1150px; 
   top: 182px; 
   position: absolute; 
   color: #004d4d; 
   font-size: 40px; 
   font-family: Modern Sans; 
   font-weight: 500; 
   word-wrap: break-word 
}

.StudentSystem{
    width: 843px; 
    height: 156px; 
    left: 101px; 
    top: 160px; 
    position: absolute; 
    color: #004d4d;
    font-size: 80px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
}

.WorkedWithLucidchart{
    width:555px; 
    height: 47px; 
    left: 793px; 
    top: 2699px; 
    position: absolute; 
    text-align: center; 
    color: #004d4d;
    font-size: 30px; 
    font-family: Type Machine; 
    font-weight: 400; 
    word-wrap: break-word;
}

.InThisClassDiagrams{
    width: 941px; 
    height: 598px; 
    left: 900px; 
    top: 3833px; 
    position: absolute; 
    color: #004d4d;
    font-size: 25px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
}

.Implementation{
    width: 600px; 
    height: 473px; 
    left: 1089px; 
    top: 4597px; 
    position: absolute; 
    color: #004d4d; 
    font-size: 30px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
}

.Authentication{
width: 400px; 
height: 327px; 
left: 256px; 
top: 5453px; 
position: absolute; 
color: #004d4d;
font-size: 30px; 
font-family: Modern Sans; 
font-weight: 500; 
word-wrap: break-word;
}

.OnCodeupdate{
    width: 700px; 
    height: 264px; 
    left: 942px; 
    top: 5946px; 
    position: absolute; 
    color: #004d4d;
    font-size: 30px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
}

.WorkedWithSQL{
width: 325px; 
height: 61px; 
left: 129px; 
top: 6543px; 
position: absolute; 
color: #004d4d;
font-size: 35px; 
font-family: Modern Sans; 
font-weight: 500; 
word-wrap: break-word;
}

.IAddedADatabase{
    width: 500px; 
    height: 188px; 
    left: 20px; 
    top: 6669px; 
    position: absolute; 
    color: #004d4d;
    font-size: 30px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
}

.InTotal{
    width: 418px; 
    height: 291px; 
    left: 1204px; 
    top: 7338px; 
    position: absolute; 
    color: #004d4d;
    font-size: 30px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
}

.Results{
    width: 441px; 
    height: 80px; 
    left: 850px; 
    top: 8066px; 
    position: absolute; 
    text-align: center;
    color: #004d4d;
    font-size: 35px; 
    font-family: Type Machine; 
    font-weight: 400; 
    word-wrap: break-word; 
}



/* Tablet styles (768px to 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    /* Modify styles for tablet devices */
    .header {
      font-size: 20px;
    }
    .ProjectObjectives {
      width: 600px;
      height: 250px;
    }
    .IntendedAudience {
      left: 700px;
    }
    .Features {
      left: 500px;
    }
    .UserInterfaces {
      left: 600px;
    }
    .PolytechnicUniversity {
      left: 800px;
    }
    /* Add more styles as needed */
  }
  
  @media only screen and (max-width: 600px) {
    /* Styles for phone layout */
    .header {
        font-size: 16px;
      }
      .ProjectObjectives {
        width: 300px;
        height: 200px;
        font-size: 18px;
      }
      .IntendedAudience {
        left: 200px;
        font-size: 16px;
      }
      .Features {
        left: 200px;
        font-size: 16px;
      }
      .UserInterfaces {
        left: 200px;
        font-size: 16px;
      }
      .PolytechnicUniversity {
        left: 200px;
        font-size: 16px;
      }
      .project {
        font-size: 24px;
      }
      .AimtoAssist {
        font-size: 14px;
      }
      .IntenDes {
        font-size: 18px;
      }
      .IntenText {
        font-size: 14px;
      }
      .FeaturesDes {
        font-size: 18px;
      }
      .FeaturesText {
        font-size: 14px;
      }
      .UserInterfacesDes {
        font-size: 18px;
      }
      .UserInterfacesText {
        font-size: 14px;
      }
   
    
    /* Add more styles as needed */
  }
  /* Small phone styles (less than 480px) */
  @media (max-width: 479px) {
    /* Modify styles for small phone devices */
    .header {
      font-size: 16px;
    }
    .ProjectObjectives {
      width: 300px;
      height: 150px;
    }
 
    .IntenDes{
        width: 100%;
        top: 30px;
        position: absolute;
        left: 1200px;
         font-size: 16px;
    }
    .IntenText{
        font-size: 10px;
        top: 35px;
      
    }
    .Features {
      left: 200px;
    }
    .UserInterfaces {
      left: 200px;
    }
    .PolytechnicUniversity {
      left: 200px;
    }
    /* Add more styles as needed */
  }