/* Global Styles */
body{
  background-color: #000000; /* Result of mixing Azure with darker grey */
  margin: 0;
   padding: 0;
}

.Proyect1Slide1, .header {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header {
  width: 100%;
  right: 2px;
  text-align: center;
  background-color: #000000;
  font-size: 25px; 
  font-family: Modern Sans; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Optional: add a shadow for better visibility */
}

.Image1{
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}
.Image7{
  background-position: center;
  width: 300px; 
  height: 120px; 
  left: -830px; 
  top: -50px; 
  position: absolute;
}

.Vector7 {
  color: #fff;
  width: 100%; 
  height: 0; 
  top: 78px;
  left: 0; 
  position: absolute; 
  border: 2px #ffffff solid;
}

.nav__links{
    display: inline-block;
    
    
}
.nav__links li {

    margin-left: 20px; /* Adjust as needed */
    display: inline-block;
    padding: 0px 20px;
    
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    text-align: left;
    color:  #ffffff; /* Add this line to set the link color to white */
    text-decoration: none;
}

.nav__links li a:hover{
    color: #aebbb3;

}

