/* Global Styles */
body{
  background-color: #d9fdeb; /* Result of mixing Azure with darker grey */
  margin: 0;
   padding: 0;
}

.Proyect1Slide1, .header {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header {
  width: 100%;
  right: 2px;
  display: flex;
  margin-left: auto;
  background-color: #004d4d;
  font-size: 25px; 
  font-family: Modern Sans; 
  line-height: normal;
  position: fixed;
  z-index: 1000; /* Ensure it stays above other content */
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Optional: add a shadow for better visibility */
}

.header img {
  
  width: 50px;
  right: 10px;
  top: -10px;
  height: 90px;
  position: absolute;
  /* Remove position absolute to allow flexbox alignment */
}


.nav__links{
    display: inline-block;
    
    
}
.nav__links li {

    margin-left: 20px; /* Adjust as needed */
    display: inline-block;
    padding: 0px 20px;
    
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    text-align: left;
    color:  #d9fdeb; /* Add this line to set the link color to white */
    text-decoration: none;
}

.nav__links li a:hover{
    color: #765A6B;

}



  /* Project 1 Slide 1 Styles */
  .Proyect1Slide1 {
    width: 1920px;
    height: 5200px;
    position: relative;
  
  }
  
 
  .BackgrountBaseColor{
    width: 1920px; 
    height: 5200px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
  }
  
  .ProjectOBJ {
    width: 723px; 
    height: 224px; 
    left: 135px; 
    top: 440px; 
    position: absolute;
  }
  
  .ProjectObjectiveDes {
    color: #004d4d;
    font-size: 40px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
  }

  .ProjectObjectiveText{
    color: #004d4d; 
    font-size: 27px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
  }
  
  .InternContribution {
    width: 685px;
    height: 156px;
    left: 1079px;
    top: 419px;
    position: absolute;
    font-size: 40px;
    font-weight: 500;
  }
  
  .InternContributionD {
  color: #004d4d; 
  font-size: 16px; 
  font-family: Modern Sans; 
  font-weight: 500; 
  word-wrap: break-word;
  }
  .InternContributionDes{
    color: #004d4d; 
    font-size: 40px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
  }

  .InternContributionText{
    color: #004d4d; 
    font-size: 27px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
  }
  
  .FullStackDevelopmentUsingElectronAndNode {
    width: 1202px; 
    height: 156px; 
    left: 135px; 
    top: 202px; 
    position: absolute; 
    color: #004d4d; 
    font-size: 80px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
  }

  .NavalAirWarfare{
    width: 519px; 
    left: 1300px; 
    top: 224px; 
    position: absolute; 
    color: #004d4d; 
    font-size: 40px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
  }

  .StartingUpRepository{
    width: 400px; 
    height: 319px; 
    left: 155px; 
    top: 994px; 
    position: absolute;
  }

  .StartingUpDes{
    color: #004d4d; 
    font-size: 40px; 
    font-family: Modern Sans; 
    font-weight: 500;
     word-wrap: break-word;
  }
  
.StartingUpText{
    color: #004d4d; 
    font-size: 27px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
}
 
.NodeJs{
    width: 344px; 
    height: 428px; 
    left: 669px; 
    top: 1115px; 
    position: absolute;
}

.NodeJsDs{
    color: #004d4d; 
    font-size: 24px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
}

.NodeJsDes{
    color: #004d4d; 
    font-size: 40px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
}

.NodeJsText{
    color: #004d4d; 
    font-size: 27px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
}

.NodePackage{
    width: 677px; 
    height: 310px; 
    left: 1101px; 
    top: 1409px; 
    position: absolute;
}

.NodePackageDes{
    color: #004d4d; 
    font-size: 40px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
}

.NodePackageText{
    color: #004d4d; 
    font-size: 27px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
}

.SomeOfNpms{
    width: 587px; 
    height: 196px; 
    left: 133px; 
    top: 1708px; 
    position: absolute;
}
.SomeNpmLibraries{
    color: #004d4d; 
    font-size: 40px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
}

.Electron{
    color: #004d4d; 
    font-size: 27px; 
    font-family: Modern Sans; 
    font-weight: 500; 
    word-wrap: break-word;
}

.ExperienceITook{
  width: 1147px; 
  height: 781px; 
  left: 404px; 
  top: 3600px; 
  position: absolute; 
  text-align: center;
}

.ExperienceITookDs{
  color: #004d4d; 
  font-size: 70px; 
  top: 3700px; 

  font-family: Modern Sans; 
  font-weight: 500; 
  word-wrap: break-word;

}

.ExperienceITookDes{
  color: #004d4d; 
  font-size: 45px; 
  font-family: Modern Sans; 
  font-weight: 500; 
  word-wrap: break-word;
}

.ExperienceITookText{
  color: #004d4d; 
  width: 400px;
  font-size: 40px; 
  font-family: Modern Sans; 
  font-weight: 500; 
  word-wrap: break-word;
}

.EnsuringScale{
   width: 680px; 
   height: 213px; 
   left: 696px; 
   top: 2190px;
   position: absolute;
}

.EnsuringScaleDes{
  color: #004d4d; 
  font-size: 40px; 
  font-family: Modern Sans; 
  font-weight: 500;
   word-wrap: break-word;
}

.EnsuringScaleText{
  color: #004d4d; 
  font-size: 27px; 
  font-family: Modern Sans;
   font-weight: 500; 
   word-wrap: break-word;
}

.CreatedAnElectron{
  width: 702px; 
  height: 580px; 
  left: 180px;
   top: 2677px; 
   position: absolute;
}

.CreatedAnElectronDs{
  font-size: 70px; 
  font-family: Modern Sans; 
  font-weight: 500; 
  word-wrap: break-word;
}

.CreatedAnElectronText{
  color: #004d4d; 
  font-size: 30px; 
  font-family: Modern Sans; 
  font-weight: 500; 
  word-wrap: break-word;
}

.PuttingItAllTogether{
  width: 1014px; 
  left: 352px; 
  top: 2644px; 
  position: absolute; 
  text-align: center; 
  color: #004d4d; 
  font-size: 70px; 
  font-family: Modern Sans; 
  font-weight: 500; 
  word-wrap: break-word"
}

.UsedNode{
  width: 563px; 
  height: 366px; 
  left: 1165px; 
  top: 2765px; 
  position: absolute; 
  color: #004d4d; 
  font-size: 30px; 
  font-family: Modern Sans; 
  font-weight: 500; 
  word-wrap: break-word;
}


/* Phone media query */
@media only screen and (max-width: 600px) {
  /* Styles for phone layout */
  .header {
    font-size: 18px;
  }
  .nav__links li {
    margin-left: 10px;
  }
  .Proyect1Slide1 {
    width: 100%;
    height: auto;
  }

  .ProjectOBJ {
    top: 350px;
    width: 90%;
    left: 5%;
  }
  .InternContribution {
    top: 500px;
    width: 90%;
    left: 5%;
  }
  .FullStackDevelopmentUsingElectronAndNode {
    font-size: 40px;
  }
  .NavalAirWarfare {
    font-size: 30px;
  }
 
  /* Add more styles as needed */
}

/* Tablet media query */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Styles for tablet layout */
  .header {
    font-size: 22px;
  }
  .nav__links li {
    margin-left: 15px;
  }
  .Proyect1Slide1 {
    width: 90%;
    height: auto;
  }
 
  .ProjectOBJ {
    top: 350px;
    width: 90%;
    left: 5%;
  }
  .InternContribution {
    top: 500px;
    width: 90%;
    left: 5%;
  }
  .FullStackDevelopmentUsingElectronAndNode {
    font-size: 50px;
  }
  .NavalAirWarfare {
    font-size: 35px;
  }
  /* Add more styles as needed */
}